@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active{
    background-color: gainsboro;
}

select,input,textarea{
    border:1px solid rgb(172, 166, 166);
    border-radius: 4px;
}